<div class="ember-command__head">
    <div class="ember-command__short cursor-pointer" {{action 'toggleExtend'}}>
        <div class="ember-command__toggle">
            <i class="icon caret {{if extended 'down' 'right'}}"></i>
        </div>
        <div class="ember-command__name">{{cmd.name}}</div>
        <div class="ember-command__description">{{cmd.description}}</div>
    </div>
    <div class="ui basic green right floated tiny button ember-command__run {{if createdCommand.running 'loading'}}" {{action 'runCmd'}}><i
            class="lightning icon"></i> Run
    </div>
</div>
{{#if extended}}
    <div class="ember-command__options">
        <div class="ui basic segment">
          {{#if cmd.anonymousOptions}}
              <form class="ui equal width form">
                  <div class="inline fields">
                    {{#if blueprintOptions}}
                        <div class="wide field">
                            <select class="ui fluid dropdown"
                                    onchange={{action (mut selectedBlueprintName) value="target.value"}}>
                              {{#each blueprintOptions as |opt|}}
                                  <option value="{{opt.name}}"
                                          selected={{eq opt.name selectedBlueprintName}}>{{opt.name}}</option>
                              {{/each}}
                            </select>
                        </div>
                      {{#each selectedBlueprint.anonymousOptions as |opt idx|}}
                          <div class="wide field">
                              <input type="text"
                                     placeholder="{{opt}}"
                                     oninput={{action 'updateAnonymousField' idx}}>
                          </div>
                      {{/each}}
                    {{else}}
                      {{#each cmd.anonymousOptions as |opt idx|}}
                          <div class="wide field">
                              <input type="text"
                                     placeholder="{{opt}}"
                                     oninput={{action 'updateAnonymousField' idx}}>
                          </div>
                      {{/each}}
                    {{/if}}
                  </div>
              </form>
          {{/if}}

          {{#if selectedBlueprint.description}}
              <p>{{selectedBlueprint.description}}</p>
          {{/if}}

            <h4 class="ui header">Options</h4>
            <form class="ui small form">
                <div class="fields">
                  {{#each cmd.availableOptions as |opt|}}
                      <div class="four field">
                          <label>{{opt.name}}</label>
                          <input type="text"
                                 value="{{opt.default}}"
                                 name="{{opt.name}}"
                                 oninput={{action 'updateOption' opt.name}}>
                      </div>
                  {{/each}}
                </div>
            </form>
        </div>
    </div>
{{/if}}
{{#if createdCommand}}
    <div class="ember-command__created-command">
      {{log-line command=createdCommand}}
    </div>
{{/if}}