<div class="flex flex-column absolute-fill">
    <div class="flex-fill">
        <div class="absolute-fill flex flex-column">
            <div class="ui icon fluid input">
                <select class="ui compact dropdown"
                        onchange={{action (mut packageSource) value="target.value"}}>
                  {{#each availableSources as |source|}}
                      <option value="{{source}}" selected={{eq source packageSource}}>{{source}}</option>
                  {{/each}}
                </select>
                <input type="text" placeholder="Search for package"
                       value={{packageQuery}} oninput={{action 'updateQuery' value="target.value"}}>
                <i class="search icon"></i>
            </div>

            <br>

            <div class="flex-fill">

              {{#unless pagedModel.length}}
                  <div class="ui icon message">
                      <i class="ban icon"></i>
                      <div class="content">
                          <div class="header">Empty result</div>
                          <p>Please try a different search query</p>
                      </div>
                  </div>
              {{/unless}}

                <table class="ui very compact table">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:60%">
                        <col style="width:10%">
                        <col style="width:20%">
                    </colgroup>

                  {{#vertical-collection content=pagedModel
                  tagName='tbody'
                  containerSelector='.flex-fill'
                  showEdges=false
                  defaultHeight=47
                  alwaysUseDefaultHeight=true
                  key='name'
                  lastReached=(action "nextPage") as |package index| }}
                    {{component rowComponentName project=project package=package install=(action 'runCommand') uninstall=(action 'runCommand') done=(action 'commandFinished')}}
                  {{/vertical-collection}}
                </table>
            </div>
        </div>
    </div>
</div>